<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>2048</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <main>
            <table id="board" border="1">
                <tr v-for="row in board">
                    <td v-for="value in row"
                        v-bind:class="{'empty': (value == null), 'tile': (value != null), ['tile' + value]: (value != null)}"
                    >
                        <strong v-if="value != null">{{ value }}</strong>
                    </td>
                </tr>
            </table>
        </main>
        <footer>
            <p>&copy; <a href="https://mirko.westermeier.de/">Mirko Westermeier</a></p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="2048.js"></script>
    </body>
</html>
